<p>I am a Master's student at <a href="https://www.weizmann.ac.il/pages/">WIS</a>, currently as a rotationist in the <a href="https://www.weizmann.ac.il/molgen/sorek/">Rotem Sorek Lab</a>.
I have recently graduated my bachelo's degree at biology at HUJI, and have published a few papers in the past.
This website was built as part of my studies, at a python course taught by <a href="https://szabgab.com/">Gábor Szabó</a>.</p> 

<p><b>Outside the lab:</b> I am married, and a proud mother to my 1st daughter. In my free time I enjoy reading books and hiking in nature. 
</p>


